name: tests

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  run-tests:
    strategy:
      matrix:
        go: ['1.19', '1.18', '1.17']
        platform: [ubuntu-latest]
    runs-on: ubuntu-latest
    services:
      mssql:
        image: mcmoe/mssqldocker:latest
        env:
          ACCEPT_EULA: Y
          SA_PASSWORD: LoremIpsum86
          MSSQL_DB: gorm
          MSSQL_USER: gorm
          MSSQL_PASSWORD: LoremIpsum86
        ports:
          - 9930:1433

    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

      # Run build of the application
    - name: Run build
      run: go build .

    - name: Run tests
      run: go test -race -count=1 -v ./...
